
### folders
node_modules
.idea
test

### files
.npmignore
.gitignore
suman.conf.js
yarn.lock
LICENSE.md
.editorconfig

### matching files
*.sh
*.md
*.json
*.log
*.ts
*.yml
*.txt
*.DS_Store

### negation
!*.d.ts
