
### folders
node_modules
.idea
test
scripts
.vscode
.vs_code

### files
.npmignore
.gitignore
suman.conf.js
yarn.lock
.editorconfig

### matching files
*.sh
*.md
*.json
*.log
*.ts
*.yml
*.txt
*.DS_Store

### negation
!*.d.ts
